<form [FormGroup]="form" (ngSubmit)="onSubmit(form.value)">

<div class="row">
  <div class="col-2">
    <div class="form-group">
      <label class="input-label">Medium</label>
      <select class="form-control" name="medium" formControlName="medium">
          <option value="Movies">Movies</option> 
      </select>
    </div> 
  </div>
  <div class="col-2">
    <div class="form-group">
      <label class="input-label">Name</label>
      <input type="text" class="form-control" name="name" formControlName="name">
    </div> 
  </div>
  <div class="col-2">
    <div class="form-group">
      <label class="input-label">Category</label>
      <select class="form-control" name="category" formControlName="category"> 
          <option value="comedy">Comedy</option> 
          <option value="action">Action</option> 
      </select>
    </div> 
  </div>  
  <div class="col-2">
      <div class="form-group">
        <label class="input-label">Year</label>
        <input type="text" class="form-control" name="year" formControlName="year">
      </div> 
    </div>  
  <div class="col-2">
      <div class="form-group">
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div> 
    </div> 
</div>

</form>

