$primary-color:#0061ae;
$secondary-color:#ffd740;
$dark-grey:#858585;
$light-grey:#b7b7b7;
$mainbg-color:#fcfdff;
$btn-close-bg:#ddd;
$grey-border:#E0DFDF;




$font-regular:font-regular;
$font-semibold:font-semibold;




	
	